<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="main.css" />
    </head>
    <body>
        <div id="app">
            <div class="header">
                <h1>{{ header.toLocaleUpperCase() }}</h1>
                <button v-if="state == 'default'" class="btn btn-primary" @click="changeState('edit')">Add Item</button>
                <button v-else class="btn btn-cancel" @click="changeState('default')">Cancel</button>
            </div>
            <div id="add-item-form" v-if="state == 'edit'">
                <input type="text" placeholder="Add a new item" v-model="newItem" @keyup.enter="saveItem"/>
                <p>{{characterCount}} / 200</p>
                <button class="btn btn-primary" type="submit" @click="saveItem" :disabled="newItem.length === 0">Save</button>
            </div>
            <ul>
                <!-- Using array syntax for class binding -->
                <!-- <li v-for="item in items" :class="[item.purchased ? 'strikeout' : '', item.highPriority ? 'priority' : '']">{{item.label}}</li> -->
                <!-- Using object syntax for class binding -->
                <li v-for="item in items" :class="{strikeout : item.purchased, priority : item.highPriority}" @click="togglePurchased(item)">{{item.label}}</li>
            </ul>
            <ul>
                    <li v-for="item in reversedItems" :class="{strikeout : item.purchased, priority : item.highPriority}" @click="togglePurchased(item)">{{item.label}}</li>
                </ul>
            <p v-if="items.length === 0">No items</p>
            <a v-bind:href="newItem" target="_blank">Dynamic link</a>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script>
        Vue.config.devtools = true;
        new Vue(
            {
                el:"#app",
                data: {
                    state: 'default',
                    header: 'Mi lista de la compra',
                    newItem: '',
                    items: [
                        {
                            label:"Melocotones",
                            purchased: false,
                            highPriority: false
                        },
                        {
                            label:"Peras",
                            purchased: true,
                            highPriority: false
                        },
                        {
                            label:"Manzanas",
                            purchased: false,
                            highPriority: true
                        }]
                },
                computed: {
                    characterCount() {
                        return this.newItem.length;
                    },
                    reversedItems() {
                        return this.items.slice(0).reverse();
                    }
                },
                methods:{
                    saveItem: function() {
                        this.items.push(
                            {
                                label:this.newItem,
                                purchased:false
                            });
                        this.newItem = "";
                    },
                    changeState: function(newState) {
                        this.state = newState;
                        this.newItem = '';
                    },
                    togglePurchased: function(item) 
                    {
                        item.purchased = !item.purchased;
                    }
                }
            });
        </script>

    </body>
</html>